{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat incidunt ut tempore, harum vel modi nobis quas, totam sequi praesentium fugit blanditiis possimus expedita nostrum iusto aut consequatur reiciendis impedit asperiores deserunt itaque eum. Facilis architecto soluta nostrum quas saepe omnis voluptatibus perferendis nihil porro dolor quaerat sed, placeat quibusdam nulla quis. Praesentium optio omnis ea consectetur repellat quaerat blanditiis, repellendus tempora explicabo quasi ipsa ab sapiente soluta totam nemo ex dignissimos possimus quia iste similique numquam quos voluptates et! Error non porro obcaecati ut quis voluptate voluptatum, omnis nesciunt officiis eius delectus ea vel molestiae similique, quidem perferendis iusto, provident minus dicta officia aliquam. Soluta distinctio, quibusdam hic officiis cum adipisci sed amet blanditiis assumenda cupiditate earum, eius facere natus, commodi repellendus quos nemo quam error esse aliquam dicta excepturi libero? Unde sapiente fuga excepturi delectus aliquam soluta obcaecati nam sunt a commodi? Nisi nemo excepturi illo eligendi quae explicabo dolorum, officiis quo blanditiis quam laudantium quasi, totam tempora?</p>

{% endblock %}